<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <mybatis:scan base-package="cn.caizhongdong.numberofsteps.dao" />
    <context:component-scan base-package="cn.caizhongdong.numberofsteps.domain"/>
    <context:component-scan base-package="cn.caizhongdong.numberofsteps.dao"/>
    <context:component-scan base-package="cn.caizhongdong.numberofsteps.service"/>
    <context:component-scan base-package="cn.caizhongdong.numberofsteps.rest.resource"/>
    <!--<context:component-scan base-package="cn.caizhongdong.numberofsteps.rest.filter"/>-->
    <!--<context:property-placeholder location="classpath:config.properties"/>-->


    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>

    <beans profile="dev">
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="org.postgresql.Driver"/>
            <property name="url" value="jdbc:postgresql://47.88.100.165:5432/numberofsteps"/>
            <property name="username" value="postgres"/>
            <property name="password" value="920908"/>
            <property name="maxTotal" value="10"></property>
            <property name="maxIdle" value="5"></property>
            <property name="maxWaitMillis" value="5000"></property>
        </bean>
    </beans>

</beans>